<div class="welcome-side">
        <div class="company-name">Logout</div>
        
        <div class="welcome-title">
            Welcome to<br>
            Your New<br>
            <span>Company</span>
        </div>
                <div class="company-name">
                    {{form.username}}
                </div>
                <button type="submit" class="btn-register">Logout</button>
                <div >
                    <p>go too homepage <a href="{% url 'login' %}">Login here</a></p>  
                </div>
       
        
    </div>